
      <!-- Widgets -->
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="info-box7 bg-c-purple order-info-box7">
            <div class="info-box7-block">
              <h4 class="m-b-20">Requests</h4>
              <h2 class="text-end"><span class="float-start">23</span><i class="fas fa-ticket-alt"></i></h2>
              <p class="m-b-0">18% Higher Then Last Month</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="info-box7 bg-c-purple order-info-box7">
            <div class="info-box7-block">
              <h4 class="m-b-20">Proposals</h4>
              <h2 class="text-end"><span class="float-start">20</span><i class="far fa-check-circle"></i></h2>
              <p class="m-b-0">21% Higher Then Last Month</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="info-box7 bg-c-purple order-info-box7">
            <div class="info-box7-block">
              <h4 class="m-b-20">Evaluation</h4>
              <h2 class="text-end"><span class="float-start">13</span><i class="fas fa-briefcase"></i></h2>
              <p class="m-b-0">37% Higher Then Last Month</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="info-box7 bg-c-purple order-info-box7">
            <div class="info-box7-block">
              <h4 class="m-b-20">Contracts</h4>
              <h2 class="text-end"><span class="float-start">34</span><i class="fas fa-umbrella-beach"></i></h2>
              <p class="m-b-0">10% Higher Then Last Month</p>
            </div>
          </div>
        </div>
      </div>
      
     
    