<div class="addContainer">
  <div *ngIf="Data" class="contact-details">
    <div class="modalHeader">
      <div class="contact-details-name mb-1">Update Bidder's Password</div>
      <button
        mat-icon-button
        (click)="dialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
        <div style="margin-left: 25px;">
          <mat-card-content>
              <div class="row mt-1" style="width: 98%">
                <div class="col-5 m-b-10">Username:</div>
                <div class="col-7 pro-left m-b-10">{{ Data.firstname }}</div>
                <div class="col-5 m-b-10">Email:</div>
                <div class="col-7 pro-left m-b-10">{{ Data.emailaddress }}</div>    
                <div class="col-5 m-b-10">Company name:</div>
                <div class="col-7 pro-left m-b-10">{{ Data.companyname }}</div>          
              </div>
            </mat-card-content>

        </div>
      
      <form class="register-form m-4" [formGroup]="updatePasswordForm">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
              </mat-form-field>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
                  <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
              </mat-form-field>
            </div>
          </div>   
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <div class="example-button-row" align="end">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="updatePassword()"
                  [disabled]="!updatePasswordForm.valid"
                >
                  Update Password
                </button>
                <button mat-raised-button color="warn" (click)="onCancel()" >Cancel</button>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
