<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb
        [title]="'RFQ Applications'"
        [items]="['Home', 'RFQ Applications']"
        [active_item]="'Rejected Applications'"
      >
      </app-breadcrumb>
    </div>

    <!-- <app-gen-widgets></app-gen-widgets> -->

    <div class="card">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="boxs mail_listing">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="body">
                <div class="table-responsive">
                  <div class="materialTableHeader">
                    <div class="row">
                      <div class="col-8">
                        <ul class="header-buttons-left ms-0">
                          <li class="dropdown">
                            <h2>Rejected Applications</h2>
                          </li>
                          <li class="dropdown m-l-20">
                            <label for="search-input"
                              ><i class="material-icons search-icon"
                                >search</i
                              ></label
                            >
                            <input
                              (keyup)="applyFilter($event)"
                              placeholder="Filter..."
                              type="text"
                              class="browser-default search-field"
                              aria-label="Search box"
                            />
                          </li>
                          <!-- <li>
                            <div class="m-l-10" matTooltip="ADD">
                              <button
                                mat-mini-fab
                                color="primary"
                                (click)="createRFQ()"
                              >
                                <mat-icon class="col-white">add</mat-icon>
                              </button>
                            </div>
                          </li> -->
                          <li>
                            <div class="m-l-10" matTooltip="REFRESH">
                              <button
                                mat-mini-fab
                                color="primary"
                                (click)="refresh()"
                              >
                                <mat-icon class="col-white">refresh</mat-icon>
                              </button>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-4">
                        <ul class="header-buttons">
                          <li>
                            <div class="export-button m-l-10" matTooltip="XLSX">
                              <img
                                src="assets/images/icons/xlsx.png"
                                alt=""
                                (click)="
                                  exporter.exportTable('xlsx', {
                                    fileName: 'assets-list',
                                    sheet: 'sheet1'
                                  })
                                "
                              />
                            </div>
                          </li>
                          <li>
                            <div class="export-button m-l-10" matTooltip="CSV">
                              <img
                                src="assets/images/icons/csv.png"
                                alt=""
                                (click)="exporter.exportTable('csv')"
                              />
                            </div>
                          </li>
                          <li>
                            <div class="export-button m-l-10" matTooltip="JSON">
                              <img
                                src="assets/images/icons/json.png"
                                alt=""
                                (click)="exporter.exportTable('json')"
                              />
                            </div>
                          </li>
                          <li>
                            <div class="export-button m-l-10" matTooltip="TXT">
                              <img
                                src="assets/images/icons/txt.png"
                                alt=""
                                (click)="exporter.exportTable('txt')"
                              />
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <mat-table
                    #table
                    matTableExporter
                    [dataSource]="dataSource"
                    matSort
                    class="mat-cell"
                    #exporter="matTableExporter"
                  >
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="psl-3 tbl-col-width-per-8"
                        >Id
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-8"
                        >{{ row.id }}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="rfqtitle">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-20"
                        >RFQ title
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-20"
                      >
                        {{ row.rfqtitle }}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="referenceid">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-35"
                        >Reference id</mat-header-cell
                      >
                      <mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-35"
                      >
                        {{ row.referenceid }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="supplieremail">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-13"
                        >Supplier email
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-13"
                      >
                        {{ row.supplieremail }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="applicationstatusreceived">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-25"
                        >Application reviewed
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-25"
                      >
                        <div *ngIf=" row.applicationstatusreceived  == false">
                          <span class="badge badge-solid-red">
                            {{  row.applicationstatusreceived  }}</span
                          >
                        </div>
                        <div *ngIf=" row.applicationstatusreceived  == true">
                          <span class="badge badge-solid-green">
                            {{  row.applicationstatusreceived  }}</span
                          >
                        </div>
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="status">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-15"
                      >
                        Status
                      </mat-header-cell>
                      <mat-cell
                        mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-15"
                      >
                      <div *ngIf="row.status == 'pending'">
                        <span
                          class="badge badge-pill badge-primary col-purple"
                        >
                          {{ "Pending" }}</span
                        >
                      </div>
                      <div *ngIf="row.status == 'Pending'">
                        <span
                          class="badge badge-pill badge-primary col-purple"
                        >
                          {{ "Pending" }}</span
                        >
                      </div>
                      <div *ngIf="row.status == 'Approved'">
                        <span
                          class="badge badge-pill badge-primary col-green"
                        >
                          {{ "Approved" }}</span
                        >
                      </div>
                      <div *ngIf="row.status == 'Rejected'">
                        <span class="badge badge-pill badge-primary col-red">
                          {{ "Rejected" }}</span
                        >
                      </div>
                      </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="createdon">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-25"
                        >Date created
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-25"
                      >
                        {{ row.createdon | date: "medium" }}
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="viewDetails">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-15"
                        >View details
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-15"
                      >
                      <button
                      class="badge badge-solid-blue btn btn btn-sm m-1"
                      [disabled]="loading"
                      (click)="$event.stopPropagation()"
                      (click)="rfqApplicationsDetails(row)"
                    >
                      View Details
                    </button>
                      </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="viewApplications">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-15"
                        >View applications
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-15"
                      >
                      <button
                      class="badge badge-solid-blue btn btn btn-sm m-1"
                      [disabled]="loading"
                      (click)="$event.stopPropagation()"
                      (click)="viewRfqApplications(row.id)"
                    >
                      View Applications
                    </button>
                      </mat-cell>
                    </ng-container> 
                    <ng-container matColumnDef="verifyApplication">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-15"
                        >Verify application
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-15"
                      >
                      <button
                      class="badge badge-solid-green btn btn btn-sm m-1"
                      [disabled]="loading"
                      (click)="$event.stopPropagation()"
                      (click)="verifyRfqApplications(row)"
                    >
                      Verify Application
                    </button>
                      </mat-cell>
                    </ng-container>                

                    <ng-container matColumnDef="actions">
                      <mat-header-cell
                        class="column-nowrap psl-3 tbl-col-width-per-15 pr-0"
                        *matHeaderCellDef
                        >Actions
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row; let i = index"
                        class="column-nowrap psl-3 tbl-col-width-per-20 pr-0"
                      >
                        <button
                          mat-icon-button
                          color="warn"
                          (click)="$event.stopPropagation()"
                          (click)="updateRFQ(row)"
                          class="tbl-action-btn"
                        >
                          <app-feather-icons
                            [icon]="'edit'"
                            [class]="'tbl-fav-edit'"
                          ></app-feather-icons>
                        </button>
                        <button
                          mat-icon-button
                          color="accent"
                          (click)="$event.stopPropagation()"
                          class="tbl-action-btn"
                          (click)="deleteRFQ(row)"
                        >
                          <app-feather-icons
                            [icon]="'trash-2'"
                            [class]="'tbl-fav-delete'"
                          ></app-feather-icons>
                        </button>
                        <button
                          mat-icon-button
                          color="primary"
                          (click)="$event.stopPropagation()"
                          (click)="rfqDetails(row)"
                          class="tbl-action-btn"
                        >
                          <app-feather-icons
                            [icon]="'eye'"
                            [class]="'tbl-fav-eye'"
                          ></app-feather-icons>
                        </button>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row
                      *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>
                    <mat-row
                      *matRowDef="let row; columns: displayedColumns"
                      [style.cursor]="'pointer'"
                      matRipple
                    >
                    </mat-row>
                    <mat-cell *matNoDataRow colspan="4">
                      No data matching the filter "{{ input.value }}"</mat-cell
                    >
                  </mat-table>
                  <!-- Loading spinner -->
                  <div *ngIf="isLoading" class="tbl-spinner">
                    <mat-progress-spinner
                      color="primary"
                      [diameter]="40"
                      mode="indeterminate"
                    >
                    </mat-progress-spinner>
                  </div>
                  <mat-paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[2, 5, 10, 20, 30, 40, 50, 100]"
                    aria-label="Select page of users"
                  ></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
