<div class="card">
  <div class="row p-3">
    <div class="col-md-4">
      <form [formGroup]="invoiceParametersForm">
        <mat-form-field appearance="legacy">
          <mat-label>Select Chart Period</mat-label>
          <mat-select (selectionChange)="onSelectPeriod($event)" formControlName="period">
            <mat-option *ngFor="let item of chartDispType" value="{{ item }}">{{ item }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="col-md-8">
      <form [formGroup]="invoiceParametersForm" *ngIf="this.needYear">
        <mat-form-field appearance="legacy">
          <mat-label>Select Year</mat-label>
          <mat-select (selectionChange)="getInvoicesIssuedMonthWise($event)" formControlName="year">
            <mat-option *ngFor="let item of this.invoicesMetrics" value="{{ item }}">{{ item }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <form [formGroup]="invoiceParametersForm" *ngIf="this.needMonth">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="legacy">
              <mat-label>Select Year</mat-label>
              <mat-select (selectionChange)="getInvoicesIssuedDatewise($event)" formControlName="year">
                <mat-option *ngFor="let item of this.invoicesMetrics" value="{{ item }}">{{ item }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="legacy">
              <mat-label>Select Month</mat-label>
              <mat-select (selectionChange)="getInvoicesIssuedDatewise($event)" formControlName="month">
                <mat-option *ngFor="let item of monthsArray" value="{{ item }}">{{ item }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="header">
    <h6>Invoices Issued</h6>
  </div>
  <div style="min-height: 420px;">
    <div class="body" *ngIf="!isLoading">
      <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart"
        [dataLabels]="barChartOptions.dataLabels" [plotOptions]="barChartOptions.plotOptions"
        [responsive]="barChartOptions.responsive" [xaxis]="barChartOptions.xaxis" [legend]="barChartOptions.legend"
        [colors]="barChartOptions.colors" [tooltip]="barChartOptions.tooltip" [fill]="barChartOptions.fill">
      </apx-chart>
    </div>
    <div *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>