<div class="container">
  <h3 mat-dialog-title>Are you sure?</h3>
  <div mat-dialog-content>
    <div class="row">
      <!--Gift Icon-->
      <div class="col text-center"> <i class="far fas fa-user-minus fa-6x col-red"></i> </div>
      <!--Modal Text-->
      <div class="col-12">
        <dl class="dl-horizontal">
          <dt class="pull-left me-2">Username:</dt>
          <dd>{{ member.username }}</dd>
          <dt class="pull-left me-2">Firstname:</dt>
          <dd> {{ member.firstname }}</dd>
          <dt class="pull-left me-2">Lastname:</dt>
          <dd> {{ member.lastname }}</dd>
          <!-- <dt class="pull-left me-2">Email:</dt> -->
          <!-- <dd> {{ member.email }}</dd> 
          <dt class="pull-left me-2">Phonenumber:</dt>
          <dd> {{ member.phonenumber }}</dd> 
          <dt class="pull-left me-2">Role:</dt>
          <dd> {{ member.roles[0].name }}</dd>
          <dt class="pull-left me-2">member Active:</dt>
          <dd> {{ member.acctActive }}</dd>  -->
        </dl>
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end" class="mb-1">
    <button mat-flat-button color="primary" (click)="removeMemberFromCommittee()">
      Remove Member
    </button>
    <button mat-flat-button (click)="onClick()" tabindex="-1">Cancel</button>
  </mat-dialog-actions>
</div>