<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'RFQ Preperation'"
        [items]="['Proc Admin', 'Prepare RFQ']"
        [active_item]="'All'"
      >
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>RFQ Preperation</h2>
          </div>
          <div class="body">
            <form [formGroup]="tendeAdditionalDetailsForm" class="m-4">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>RFQ Title</mat-label>
                    <input matInput formControlName="title" required />
                    <mat-icon matSuffix>person_pin</mat-icon>
                    <mat-error
                      *ngIf="
                        tendeAdditionalDetailsForm
                          .get('title')
                          .hasError('title') &&
                        tendeAdditionalDetailsForm.get('title').touched
                      "
                    >
                      Please enter RFQ title
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Need category</mat-label>
                    <mat-select
                      formControlName="categorycode"
                      (selectionChange)="getSelectedNeedCategories($event)"
                    >
                      <mat-option
                        *ngFor="let category of categories"
                        [value]="category.code"
                        >{{ category.type }} - {{ category.name }}
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>done_all</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Project dedline</mat-label>
                    <input
                      formControlName="projectDeadline"
                      matInput
                      [matDatepicker]="picker"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                      *ngIf="
                        tendeAdditionalDetailsForm
                          .get('projectDeadline')
                          .hasError('projectDeadline') &&
                        tendeAdditionalDetailsForm.get('projectDeadline')
                          .touched
                      "
                    >
                      Please enter the project deadline
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Response deadline</mat-label>
                    <input
                      formControlName="responseDeadline"
                      matInput
                      [matDatepicker]="picker1"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker1"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error
                      *ngIf="
                        tendeAdditionalDetailsForm
                          .get('responseDeadline')
                          .hasError('responseDeadline') &&
                        tendeAdditionalDetailsForm.get('responseDeadline')
                          .touched
                      "
                    >
                      Please enter the response deadline
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Lowest quote</mat-label>
                    <input matInput formControlName="lowestQuote" required />
                    <mat-error
                      *ngIf="
                        tendeAdditionalDetailsForm
                          .get('lowestQuote')
                          .hasError('lowestQuote') &&
                        tendeAdditionalDetailsForm.get('lowestQuote').touched
                      "
                    >
                      Please enter RFQ lowest quote
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Highest quote</mat-label>
                    <input matInput formControlName="highestQuote" required />
                    <mat-error
                      *ngIf="
                        tendeAdditionalDetailsForm
                          .get('highestQuote')
                          .hasError('highestQuote') &&
                        tendeAdditionalDetailsForm.get('highestQuote').touched
                      "
                    >
                      Please enter RFQ highest quote
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Net budget</mat-label>
                    <input
                      matInput
                      formControlName="netBudget"
                      readonly
                      required
                    />
                    <mat-error
                      *ngIf="
                        tendeAdditionalDetailsForm
                          .get('netBudget')
                          .hasError('netBudget') &&
                        tendeAdditionalDetailsForm.get('netBudget').touched
                      "
                    >
                      Please enter RFQ net budget
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Gross budget</mat-label>
                    <input matInput formControlName="grossBudget" required />
                    <mat-error
                      *ngIf="
                        tendeAdditionalDetailsForm
                          .get('grossBudget')
                          .hasError('grossBudget') &&
                        tendeAdditionalDetailsForm.get('grossBudget').touched
                      "
                    >
                      Please enter RFQ gross budget
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 mb-2">
                  <section>
                    <label class="example-margin"
                      >Include bid fee?&nbsp;&nbsp;&nbsp;</label
                    >
                    <mat-radio-group
                      (change)="includeBidFee($event)"
                      formControlName="withBidFee"
                    >
                      <mat-radio-button
                        class="example-margin"
                        value="Yes"
                        checked
                        >Yes</mat-radio-button
                      >
                      <mat-radio-button class="example-margin" value="No"
                        >No
                      </mat-radio-button>
                    </mat-radio-group>
                  </section>
                </div>
                <div
                  *ngIf="hasBidFee"
                  class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2"
                >
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>RFQ bid fee</mat-label>

                    <input
                      matInput
                      type="number"
                      formControlName="bidFee"
                      required
                    />
                    <mat-icon matSuffix>attach_money</mat-icon>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Choose items to include in RFQ</h2>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="body">
                <div class="table-responsive header m-t-5">
                  <div class="body">
                    <div class="table-responsive">
                      <div class="materialTableHeader">
                        <div class="row">
                          <div class="col-8">
                            <ul class="header-buttons-left ms-0">
                              <li class="dropdown">
                                <h2>Select RFQ items</h2>
                              </li>
                              <li class="dropdown m-l-20">
                                <label for="search-input"
                                  ><i class="material-icons search-icon"
                                    >search</i
                                  ></label
                                >
                                <input
                                  placeholder="Search"
                                  type="text"
                                  #filter
                                  class="browser-default search-field"
                                  aria-label="Search box"
                                />
                              </li>

                              <li>
                                <div
                                  class="m-l-10"
                                  [hidden]="!selection.hasValue()"
                                  matTooltip="ADD"
                                >
                                  <button
                                    mat-mini-fab
                                    color="primary"
                                    (click)="generateTenderItem()"
                                  >
                                    <mat-icon class="col-white"
                                      >playlist_add_check
                                    </mat-icon>
                                  </button>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <mat-table
                        #table
                        matTableExporter
                        [dataSource]="dataSource"
                        matSort
                        class="mat-cell"
                        #exporter="matTableExporter"
                      >
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                          <mat-header-cell
                            *matHeaderCellDef
                            [ngClass]="'tbl-col-width-per-12'"
                          >
                            <mat-checkbox
                              (change)="$event ? masterToggle() : null"
                              [checked]="
                                selection.hasValue() && isAllSelected()
                              "
                              [indeterminate]="
                                selection.hasValue() && !isAllSelected()
                              "
                              [ngClass]="'tbl-checkbox'"
                              (change)="checkboxActive()"
                            ></mat-checkbox>
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            [ngClass]="'tbl-col-width-per-12'"
                          >
                            <mat-checkbox
                              (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [ngClass]="'tbl-checkbox'"
                              [aria-label]="checkboxLabel(row)"
                              (change)="checkboxActive()"
                            >
                            </mat-checkbox>
                          </mat-cell>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="item_name">
                          <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="column-nowrap psl-3 tbl-col-width-per-35"
                            >Item name
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            class="column-nowrap psl-3 tbl-col-width-per-35"
                            >{{ row.item_name }}</mat-cell
                          >
                        </ng-container>
                        <ng-container matColumnDef="department">
                          <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="column-nowrap psl-3 tbl-col-width-per-15"
                          >
                            Department
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            class="column-nowrap psl-3 tbl-col-width-per-15"
                          >
                            {{ row.department }}
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="item_quantity">
                          <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="column-nowrap psl-3 tbl-col-width-per-35"
                          >
                            Item quantity
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            class="column-nowrap psl-3 tbl-col-width-per-35"
                          >
                            {{ row.item_quantity }}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="unit_price">
                          <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="column-nowrap psl-3 tbl-col-width-per-25"
                          >
                            Unit price
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            class="column-nowrap psl-3 tbl-col-width-per-25"
                          >
                            {{ row.unit_price }}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="total_price">
                          <mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="column-nowrap psl-3 tbl-col-width-per-25"
                          >
                            Total price
                          </mat-header-cell>
                          <mat-cell
                            *matCellDef="let row"
                            class="column-nowrap psl-3 tbl-col-width-per-25"
                          >
                            {{ row.total_price }}
                          </mat-cell>
                        </ng-container>
                        <mat-header-row
                          *matHeaderRowDef="displayedColumns"
                        ></mat-header-row>
                        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                        <mat-row
                          *matRowDef="let row; columns: displayedColumns"
                          [style.cursor]="'pointer'"
                          matRipple
                        ></mat-row>
                        <mat-cell *matNoDataRow colspan="4">
                          No data matching the filter "{{ input.value }}"
                        </mat-cell>
                      </mat-table>
                      <!-- Loading spinner -->
                      <div *ngIf="isLoading" class="tbl-spinner">
                        <mat-progress-spinner
                          color="primary"
                          [diameter]="40"
                          mode="indeterminate"
                        >
                        </mat-progress-spinner>
                      </div>
                      <mat-paginator
                        #paginatorCostCenters="matPaginator"
                        [pageSize]="3"
                        [pageSizeOptions]="[3, 5, 10, 20, 30, 40, 50, 100]"
                        aria-label="Select page"
                      >
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h5>RFQ Need Particulars preperation</h5>
              <div
                *ngFor="let dyForm of t.controls; let i = index"
                class="list-group list-group-flush"
              >
                <div>
                  <div [formGroup]="dyForm">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-4">
                          <mat-form-field
                            class="example-full-width"
                            appearance="fill"
                          >
                            <mat-label>Item name </mat-label>
                            <input matInput formControlName="item" required />
                          </mat-form-field>
                        </div>
                        <div class="col-4">
                          <mat-form-field
                            class="example-full-width"
                            appearance="fill"
                          >
                            <mat-label>Item description </mat-label>
                            <input
                              matInput
                              formControlName="description"
                              required
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-4">
                          <mat-form-field
                            class="example-full-width"
                            appearance="fill"
                          >
                            <mat-label>Tax Applicable</mat-label>
                            <mat-select (selectionChange)="selectTax($event)" formControlName="taxRate">
                              <mat-option
                                *ngFor="let tax of taxes"
                                value="{{ tax.taxRate }}"
                                >{{ tax.taxName }}</mat-option
                              >
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-3">
                          <mat-form-field
                            class="example-full-width"
                            appearance="fill"
                          >
                            <mat-label>Item quantity</mat-label>
                            <input
                              (keyup)="specifyQuantity($event, i)"
                              matInput
                              formControlName="quantity"
                              type="number"
                              required
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-3">
                          <mat-form-field
                            class="example-full-width"
                            appearance="fill"
                          >
                            <mat-label>Item unit price </mat-label>
                            <input
                              (keyup)="specifyUnitPrice($event, i)"
                              matInput
                              formControlName="unitPrice"
                              required
                              type="number"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-3">
                          <mat-form-field
                            class="example-full-width"
                            appearance="fill"
                          >
                            <mat-label>Item total price </mat-label>
                            <input
                              matInput
                              readonly
                              formControlName="totalPrice"
                              required
                            />
                          </mat-form-field>
                        </div>
                        <div
                          class="col-1 d-flex align-items-center justify-content-center"
                        >
                          <mat-icon color="primary" (click)="onAddField()"
                            >add_circle</mat-icon
                          >
                          <mat-icon color="warn" (click)="onRemoveField(i)"
                            >remove_circle</mat-icon
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-12 mb-3">
                  <div class="container">
                    <div class="row align-items-end">
                      <div class="col align-self-end">
                        <div class="example-button-row" align="end">
                          <button
                            class="align-self-end"
                            mat-raised-button
                            color="primary"
                            [type]="submit"
                            [disabled]="
                              !enableSubmit || !tendeAdditionalDetailsForm.valid
                            "
                            (click)="prepareTender()"
                          >
                            Prepare RFQ
                          </button>
                          <button mat-raised-button color="warn" tabindex="-1">
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row align-items-end"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
