
<div class="row">
  
  <div class="col-lg-3 col-sm-6">
    <div class="info-box7 bg-c-purple order-info-box7">
      <div class="info-box7-block">
        <h4 class="m-b-20">Prequalifications</h4>
        <h2 class="text-end"><span class="float-start">29</span><i class="fas fa-ticket-alt"></i></h2>
        <p class="m-b-0">18% Higher Then Last Month</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="info-box7 bg-c-purple order-info-box7">
      <div class="info-box7-block">
        <h4 class="m-b-20">RFQs</h4>
        <h2 class="text-end"><span class="float-start">29</span><i class="fas fa-ticket-alt"></i></h2>
        <p class="m-b-0">10% Higher Then Last Month</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="info-box7 bg-c-purple order-info-box7">
      <div class="info-box7-block">
        <h4 class="m-b-20">Tenders</h4>
        <h2 class="text-end"><span class="float-start">9</span><i class="fas fa-ticket-alt"></i></h2>
        <p class="m-b-0">10% Lower Then Last Month</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="info-box7 bg-c-purple order-info-box7">
      <div class="info-box7-block">
        <h4 class="m-b-20">Disposed Assets</h4>
        <h2 class="text-end"><span class="float-start">72</span><i class="fas fa-ticket-alt"></i></h2>
        <p class="m-b-0">40% Lower Then Last Month</p>
      </div>
    </div>
  </div>
</div>
