<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb
        [title]="'Tender Adverts Management'"
        [items]="['Procurement Admin', 'Tender Advert Preperation']"
        [active_item]="'Update Tender Advert'"
      >
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>Update Tender Advert</h2>
          </div>
          <div class="body">
            <form [formGroup]="tenderAdvertAdditionalDetailsForm" class="m-4">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Notice title</mat-label>
                    <input matInput formControlName="noticeTitle" required />
                    <mat-error
                      *ngIf="
                        tenderAdvertAdditionalDetailsForm
                          .get('noticeTitle')
                          .hasError('noticeTitle') &&
                        tenderAdvertAdditionalDetailsForm.get('noticeTitle')
                          .touched
                      "
                    >
                      Please enter tender notice title
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Tenders lookup</mat-label>
                    <input matInput formControlName="selectTenders" readonly required />
                    <!-- <button
                      (click)="tendersLookup()"
                      mat-icon-button
                      matSuffix
                      [attr.aria-label]="'Hide password'"
                    >
                      <mat-icon>search</mat-icon>
                    </button> -->
                    <mat-error
                      *ngIf="
                        tenderAdvertAdditionalDetailsForm
                          .get('selectTenders')
                          .hasError('selectTenders') &&
                        tenderAdvertAdditionalDetailsForm.get('selectTenders')
                          .touched
                      "
                    >
                      Please select tenders to include in your advert
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Notice description</mat-label>
                    <textarea
                      formControlName="noticeDescription"
                      matInput
                    ></textarea>
                    <mat-error
                      *ngIf="
                        tenderAdvertAdditionalDetailsForm
                          .get('noticeDescription')
                          .hasError('noticeDescription') &&
                        tenderAdvertAdditionalDetailsForm.get('tenderNo')
                          .touched
                      "
                    >
                      Please enter notice description
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="boxs mail_listing">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="body">
                <div class="table-responsive">
                  <div class="materialTableHeader">
                    <div class="row">
                      <div class="col-8">
                        <ul class="header-buttons-left ms-0">
                          <li class="dropdown">
                            <h2>Selected Tenders</h2>
                          </li>
                          <li class="dropdown m-l-20">
                            <label for="search-input"
                              ><i class="material-icons search-icon"
                                >search</i
                              ></label
                            >
                            <input
                              (keyup)="applyFilter($event)"
                              placeholder="Filter..."
                              type="text"
                              class="browser-default search-field"
                              aria-label="Search box"
                            />
                          </li>
                        </ul>
                      </div>
                      <div class="col-4">
                        <ul class="header-buttons">
                          <li>
                            <div class="export-button m-l-10" matTooltip="XLSX">
                              <img
                                src="assets/images/icons/xlsx.png"
                                alt=""
                                (click)="
                                  exporter.exportTable('xlsx', {
                                    fileName: 'assets-list',
                                    sheet: 'sheet1'
                                  })
                                "
                              />
                            </div>
                          </li>
                          <li>
                            <div class="export-button m-l-10" matTooltip="CSV">
                              <img
                                src="assets/images/icons/csv.png"
                                alt=""
                                (click)="exporter.exportTable('csv')"
                              />
                            </div>
                          </li>
                          <li>
                            <div class="export-button m-l-10" matTooltip="JSON">
                              <img
                                src="assets/images/icons/json.png"
                                alt=""
                                (click)="exporter.exportTable('json')"
                              />
                            </div>
                          </li>
                          <li>
                            <div class="export-button m-l-10" matTooltip="TXT">
                              <img
                                src="assets/images/icons/txt.png"
                                alt=""
                                (click)="exporter.exportTable('txt')"
                              />
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <mat-table
                    #table
                    matTableExporter
                    [dataSource]="dataSource"
                    matSort
                    class="mat-cell"
                    #exporter="matTableExporter"
                  >
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="psl-3 tbl-col-width-per-15"
                        >Id
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-15"
                        >{{ row.id }}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="tenderNo">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-45"
                        >Tender number
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-45"
                      >
                        {{ row.tenderNo }}</mat-cell
                      >
                    </ng-container>
                    <ng-container matColumnDef="tendertitle">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-45"
                        >Tender title</mat-header-cell
                      >
                      <mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-45"
                      >
                        {{ row.tendertitle }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tenderDescripion">
                      <mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header
                        class="column-nowrap psl-3 tbl-col-width-per-45  pr-0"
                        >Tender description
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row"
                        class="column-nowrap psl-3 tbl-col-width-per-45 pr-0"
                      >
                        {{ row.tenderDescripion }}
                      </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <mat-header-cell
                        class="column-nowrap psl-3 tbl-col-width-per-15 pr-0"
                        *matHeaderCellDef
                        >Actions
                      </mat-header-cell>
                      <mat-cell
                        *matCellDef="let row; let i = index"
                        class="column-nowrap psl-3 tbl-col-width-per-20 pr-0"
                      >
                        <button
                          mat-icon-button
                          color="accent"
                          (click)="$event.stopPropagation()"
                          class="tbl-action-btn"
                          (click)="postTender(row)"
                        >
                          <app-feather-icons
                            [icon]="'send'"
                            [class]="'tbl-fav-send'"
                          ></app-feather-icons>
                        </button>
                        <button
                          mat-icon-button
                          color="primary"
                          (click)="$event.stopPropagation()"
                          (click)="tenderDetails(row)"
                          class="tbl-action-btn"
                        >
                          <app-feather-icons
                            [icon]="'eye'"
                            [class]="'tbl-fav-eye'"
                          ></app-feather-icons>
                        </button>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row
                      *matHeaderRowDef="displayedColumns"
                    ></mat-header-row>
                    <mat-row
                      *matRowDef="let row; columns: displayedColumns"
                      [style.cursor]="'pointer'"
                      matRipple
                    >
                    </mat-row>
                    <mat-cell *matNoDataRow colspan="4">
                      No data matching the filter "{{ input.value }}"</mat-cell
                    >
                  </mat-table>
                  <!-- Loading spinner -->
                  <div *ngIf="isLoading" class="tbl-spinner">
                    <mat-progress-spinner
                      color="primary"
                      [diameter]="40"
                      mode="indeterminate"
                    >
                    </mat-progress-spinner>
                  </div>
                  <mat-paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[2, 5, 10, 20, 30, 40, 50, 100]"
                    aria-label="Select page of users"
                  ></mat-paginator>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button
                      class="btn-space"
                      mat-raised-button
                      color="primary"
                      (click)="prepareTender()"
                    >
                      Submit
                    </button>
                    <button type="button" mat-raised-button  color="warn">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
