<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboard'" [items]="['Home']" [active_item]="'Dashboard'">
      </app-breadcrumb>
    </div>

    <app-need-wigets></app-need-wigets>
    
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Weekly Working Hours</h2>
          </div>
          <div class="body">
            <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart"
              [dataLabels]="barChartOptions.dataLabels" [plotOptions]="barChartOptions.plotOptions"
              [responsive]="barChartOptions.responsive" [xaxis]="barChartOptions.xaxis"
              [legend]="barChartOptions.legend" [colors]="barChartOptions.colors" [tooltip]="barChartOptions.tooltip"
              [fill]="barChartOptions.fill">
            </apx-chart>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Running Project Review</h2>
          </div>
          <div class="body">
            <apx-chart [series]="radialChartOptions.radialseries" [chart]="radialChartOptions.chart"
              [plotOptions]="radialChartOptions.plotOptions" [labels]="radialChartOptions.labels"></apx-chart>
            <div class="text-center p-t-20">
              <div class="chart-note">
                <span class="dot bg-orange"></span>
                <span>Project 1</span>
              </div>
              <div class="chart-note">
                <span class="dot bg-indigo"></span>
                <span>Project 2</span>
              </div>
              <div class="chart-note msr-0">
                <span class="dot bg-green"></span>
                <span>Project 3</span>
              </div>
            </div>
            <div class="text-center p-t-20">
              <button mat-stroked-button color="primary">More Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    
   
  </div>
</section>