<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Tender requirements'" [items]="['Home', 'Tender requirements']"
        [active_item]="'Parameters'">
      </app-breadcrumb>
    </div>

    <!-- Widgets -->
    <app-gen-widgets></app-gen-widgets>
    <!-- #END# Widgets -->

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>List of tender requirements</h2>
          </div>
          <div class="body">

            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                  <!-- <img src="assets/images/user/user1.jpg" alt="user"> -->
                 Mandatory Requirements
                </ng-template>
                <div style="margin: 15px;">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="boxs mail_listing">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="body">
                            <div class="table-responsive">
                              <div class="materialTableHeader">
                                <div class="row">
                                  <div class="col-8">
                                    <ul class="header-buttons-left ms-0">
                                      <li class="dropdown">
                                        <h2>Mandatory Requirements</h2>
                                      </li>
                                      <li class="dropdown m-l-20">
                                        <label for="search-input"><i
                                            class="material-icons search-icon">search</i></label>
                                        <input placeholder="Filter..." type="text" (keyup)="applyFilter($event)" #filter
                                          class="browser-default search-field" aria-label="Search box">
                                      </li>
                                      <li>
                                        <div class="m-l-10" matTooltip="ADD">
                                          <button mat-mini-fab color="primary" (click)="addRequirement()">
                                            <mat-icon class="col-white">add</mat-icon>
                                          </button>
                                        </div>
                                      </li>
                                      <li>
                                        <div class="m-l-10" matTooltip="REFRESH" (click)="refresh()">
                                          <button mat-mini-fab color="primary">
                                            <mat-icon class="col-white">refresh</mat-icon>
                                          </button>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="col-4">
                                    <ul class="header-buttons">
                                      <li>
                                        <div class="export-button m-l-10" matTooltip="XLSX">
                                          <img src="assets/images/icons/xlsx.png" alt="" (click)="
                                                        exporter.exportTable('xlsx', {
                                                          fileName: 'assets-list',
                                                          sheet: 'sheet1'
                                                        })
                                                      " />
                                        </div>
                                      </li>
                                      <li>
                                        <div class="export-button m-l-10" matTooltip="CSV">
                                          <img src="assets/images/icons/csv.png" alt=""
                                            (click)="exporter.exportTable('csv')" />
                                        </div>
                                      </li>
                                      <li>
                                        <div class="export-button m-l-10" matTooltip="JSON">
                                          <img src="assets/images/icons/json.png" alt=""
                                            (click)="exporter.exportTable('json')" />
                                        </div>
                                      </li>
                                      <li>
                                        <div class="export-button m-l-10" matTooltip="TXT">
                                          <img src="assets/images/icons/txt.png" alt=""
                                            (click)="exporter.exportTable('txt')" />
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>

                              <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                                #exporter="matTableExporter">
                                <!-- ID Column -->
                                <ng-container matColumnDef="id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="column-nowrap psl-3 tbl-col-width-per-10">Id
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-10">
                                    {{ row.id }}
                                  </mat-cell>
                                </ng-container>
                                
                                <ng-container matColumnDef="requirementcode">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="column-nowrap psl-3 tbl-col-width-per-20">Requirementcode
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-20">
                                    {{ row.requirementcode }}
                                  </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="category">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="column-nowrap psl-3 tbl-col-width-per-20">Category
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-20">
                                    {{ row.category }}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="label">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="column-nowrap psl-3 tbl-col-width-per-20">Requirement name
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-20">
                                    {{ row.label }}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="inputType">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header
                                    class="column-nowrap psl-3 tbl-col-width-per-20">Input Type
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let row" class="column-nowrap psl-3 tbl-col-width-per-20">
                                    {{ row.inputType }}</mat-cell>
                                </ng-container>
                                

                                <!-- Actions -->
                                <ng-container matColumnDef="actions">
                                  <mat-header-cell *matHeaderCellDef class="column-nowrap psl-3 tbl-col-width-per-20">
                                    Actions
                                  </mat-header-cell>
                                  <mat-cell *matCellDef="let row; let i = index"
                                    class="column-nowrap psl-3 tbl-col-width-per-20">
                                   
                                    
                                  
                                  <button mat-icon-button color="accent" (click)="$event.stopPropagation()"
                                    (click)="editRequirement(row)" class="tbl-action-btn" matTooltip="EDIT">
                                    <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                  </button>
                                  <button mat-icon-button color="accent" (click)="$event.stopPropagation()"
                                    (click)="deleteRequirement(row)" class="tbl-action-btn" matTooltip="DELETE">
                                    <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                                  </button>

                                  </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns" (click)="preqDetails(row)"
                                  [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                                <mat-cell *matNoDataRow colspan="4">
                                  No data matching the filter "{{ input.value }}"</mat-cell>
                              </mat-table>
                              <!-- Loading spinner -->
                              <div *ngIf="isLoading" class="tbl-spinner">
                                <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                                </mat-progress-spinner>
                              </div>


                              <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 5, 10, 20, 30, 40, 50, 100]"
                                aria-label="Select page of users"></mat-paginator>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <!-- <img src="assets/images/user/user2.jpg" alt="user"> -->
                 Financial Requirements
                </ng-template>
                <app-financial-requirements></app-financial-requirements>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  <!-- <img src="assets/images/user/user2.jpg" alt="user"> -->
                 Technical Requirements
                </ng-template>
                <app-technical-requirements></app-technical-requirements>


              </mat-tab>


            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>