<!-- Widgets -->
<div class="row">
    <div class="col-lg-3 col-sm-6" (click)="suppliers()">
        <div class="info-box7 bg-c-purple order-info-box7">
            <div class="info-box7-block">
                <h4 class="m-b-20">Suppliers</h4>
                <h2 class="text-end"><span class="float-start">{{suppliersCount}}</span><i class="fas fa-user-plus"></i>
                </h2>
                <p class="m-b-0">Click for more details!</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6" (click)="expenses()">
        <div class="info-box7 bg-c-purple order-info-box7">
            <div class="info-box7-block">
                <h4 class="m-b-20">Expenses</h4>
                <h2 class="text-end"><span class="float-start">{{expenseCount}}</span><i
                        class="fab fa-buromobelexperte"></i></h2>
                <p class="m-b-0">Click for more details!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6" (click)="costCenters()">
        <div class="info-box7 bg-c-purple order-info-box7">
            <div class="info-box7-block">
                <h4 class="m-b-20">Cost Centers</h4>
                <h2 class="text-end"><span class="float-start">{{costCentersCount}}</span><i class="fas fa-coins"></i>
                </h2>
                <p class="m-b-0">Click for more details!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6" (click)="userManagement()">
        <div class="info-box7 bg-c-purple order-info-box7">
            <div class="info-box7-block">
                <h4 class="m-b-20">Users</h4>
                <h2 class="text-end"><span class="float-start">{{usersCount}}</span><i class="
            
fas fa-users
"></i></h2>
                <p class="m-b-0">Click for more details!</p>
            </div>
        </div>
    </div>

</div>
<!-- #END# Widgets -->