<!DOCTYPE html>
<html>
<head>
	<title> School Dashboard </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container-fluid">
		<div class="row">

            <!-- Home Module -->
			<div class="col-lg-2 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body">
                        <h5 class="card-title">Return to Home</h5>
                        <button type="button" class="btn btn-primary" (click)="onHome"> Home </button>
						<a href="#" class="btn btn-primary" type="button"> Home </a>
					</div>
				</div>
			</div>

			<!-- Teacher Module -->
			<div class="col-lg-2 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Teacher</h5>
						<a href="#" class="btn btn-primary">Manage Teachers</a>
					</div>
				</div>
			</div>
            <br>
            <br>

			<!-- Staff Module -->
			<div class="col-lg-2 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Staff</h5>
						<a href="#" class="btn btn-primary"> Manage Staff</a>
					</div>
				</div>
			</div>

			<!-- Student Module -->
			<div class="col-lg-2 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Student</h5>
						<a href="#" class="btn btn-primary"> Manage Students </a>
					</div>
				</div>
			</div>

			<!-- Career/Course Module -->
			<div class="col-lg-2 col-md-4 col-sm-6">
				<div class="card">
					<div class="card-body">
                        <h5 class="card-title">Courses</h5>
						<a href="#" class="btn btn-primary">Courses Offered</a>
                        <br>
                        <br>
                        

					</div>
				</div>
			</div>
            
            <!-- Careers Module -->
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Careers</h5>
                        <a href="#" class=" btn btn-primary">Careers</a>
                    </div>

                </div>

            </div>

			

		</div>
	</div>

</body>
</html>
